<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeditationApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SelectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PlaylistDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>
        <activity
            android:name=".playlist"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".favourite"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".editProfile"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".relax"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".meditate"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sleep"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*" android:scheme="content"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".BackgroundScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.SignUp"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".MusicService"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true" />
    </application>

</manifest>